@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap');
html {
    scroll-behavior: smooth;
    }
body {
    font-family: 'Readex Pro', sans-serif;
    text-align: justify;
    background-color: #fffffa;
}

.nav-link {
    color: white;
  }
  .nav-link:hover {
    color: #02c2e4;
    border-bottom: solid 1px #02c2e4;  
  }
  .nav-link:focus {
    color: #02c2e4;
  };

#entrada {
    padding-top: 100px;
}
#img_welcome {
    padding-top: 85px;
    display: block; 
    margin-right: auto; 
    margin-left: auto; 
    width: 190px; 
    height: 240px;
}
#titulo_entrada {
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
}
.txt_entrada {
    text-align: center;
    font-size: 18px;
}
.titulos_sessoes {
    text-align: center;
    color: white;
}
.titulos_oficinas {
    text-align: center;
    padding-bottom: 15px;
}
.linhas_oficinas {
    border-bottom: 3px solid #006577;
    padding-bottom: 10px;
}
.span_titulos_sessoes {
    background-color: #014552;
    padding: 10px; 
    border-radius: 50px;
}
.txt_intro {
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.legendas {
    color: rgb(94, 94, 94);
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
}
.legendas_alunos {
    color: rgb(94, 94, 94);
    padding-left: 25px;
    padding-right: 25px;
}

/* SESSÃO 1 - Sobre o projeto */
#info {
    border-bottom: outset 5px #006577; 
    border-top: outset 5px #006577;
    padding-bottom: 50px; 
    padding-top: 50px;
    border-radius: 3%;
}
#img_sobre {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 13%;
    width: 450px;
    min-height: 220px;
    border-radius: 5px;
}
#img_sobre2 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 450px;
    min-height: 220px;
    border-radius: 5px;
}
#txt_sobre3 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10%;
}
/* */

/* SESSÃO 2 - Oficinas */
#oficinas {
    border-bottom: outset 5px #006577; 
    border-top: outset 5px #006577;
    padding-bottom: 50px; 
    padding-top: 50px;
    border-radius: 3%;
}
.imgs_oficinas {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 450px;
    min-height: 220px;
    border-radius: 30px;
}
.imgs_alunos {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 3%;
    padding: 20px;
    width: 390px;
    min-height: 160px;
    border-radius: 30px;
}
.legendas_gravacoes {
    color: rgb(94, 94, 94);
    padding: 5px;
    text-align: center;
}
#img2_oficina4 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    min-height: 160px;
    border-radius: 30px;
}
/* */

/* SESSÃO 3 - Entrevistas */
#entrevistas {
    border-bottom: outset 5px #006577; 
    border-top: outset 5px #006577;
    padding-bottom: 50px; 
    padding-top: 50px;
    border-radius: 3%;
}
#entrevista1 {
    padding-bottom: 30px;
}
.titulos_entrevistas {
    padding-top: 30px;
    text-align: center;
}
.legendas_retratos {
    color: rgb(94, 94, 94);
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
#retrato_augusto {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 270px;
    min-height: 220px;
    border-radius: 50px;
}
#retrato_mariana {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    min-height: 220px;
    border-radius: 50px;
}
#bttn_entrevista_augusto_show {
    background-color: #006577;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#bttn_entrevista_augusto_show:hover {
    background-color: #00849b;
}
#bttn_entrevista_mariana_show {
    background-color: #006577;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#bttn_entrevista_mariana_show:hover {
    background-color: #00849b;
}
#txt_entrevista_augusto_hidden {
    text-align: justify;
    display: none;
}
#txt_entrevista_mariana_hidden {
    text-align: justify;
    display: none;
}
/* */

/* MAIS FOTOS - Carrossel de imagens */
#txt_mais_fotos {
    text-align: center;
}
#botao_anterior {
    background-color: #595959;
    display: none;
}
#botao_proxima {
    background-color: #595959;
    display: none;
}
#demo {
    width: 500px; 
    min-height: 260px;
}
#slide1 {
    width: 500px; 
    min-height: 260px;
}
#slide2 {
    width: 500px; 
    min-height: 260px;
}
#slide3 {
    width: 500px; 
    min-height: 260px;
}
#slide4 {
    width: 500px; 
    min-height: 260px;
}
#slide5 {
    width: 500px; 
    min-height: 260px;
}
.legendas_slides {
    background-color: #afafafb0;
    color: #001418;
    border-radius: 10px;
    padding: 5px;
}
/* */

/* SESSÃO 4 - Contato */
#contato {
    padding-bottom: 80px;
}
#titulo_contato {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border-bottom: inset 3px #006577;
    width: 20%;
    padding-bottom: 15px;
}
#txt_contato {
    text-align: center;
    font-size: 18px;
}
.list-inline-item {
    padding-bottom: 5px;
    font-size: 18px;
}
/* */

.img_footer {
    width: 50px;
    height: 50px;
}

.img_LogoFooter {
    width: 50px;
    height: 50px;
}

#myFooter {
    background-color: #014552;
    color: white;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: #006577;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #e0e0e0;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a {
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #e0e0e0;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}
#myFooter .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}
#name_footer:hover {
    text-decoration: underline 1px rgb(209, 209, 209);
}

/* Ajustes para small-devices */
@media screen and (max-width: 900px) {
    #txt_sobre2 {
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding-left: 10%;
    }
    #img_sobre {
        width: 350px;
        min-height: 120px;
        border-radius: 5px;
    }
    #img_sobre2 {
        width: 350px;
        min-height: 120px;
        border-radius: 5px;
    }
    .imgs_oficinas {
        width: 350px;
        min-height: 120px;
        border-radius: 30px;
    }
    .imgs_alunos {
        width: 350px;
        min-height: 120px;
        border-radius: 30px;
    }
    #img2_oficina4 {
        width: 350px;
        min-height: 120px;
        border-radius: 30px;
    }
    #titulo_contato {
        width: 50%;
    }
    #demo {
        width: 350px;
        min-height: 120px;
    }
    #slide1 {
        width: 350px;
        min-height: 120px;
    }
    #slide2 {
        width: 350px;
        min-height: 120px;
    }
    #slide3 {
        width: 350px;
        min-height: 120px;
    }
    #slide4 {
        width: 350px;
        min-height: 120px;
    }
    #slide5 {
        width: 350px;
        min-height: 120px;
    }
    #slide6 {
        width: 350px;
        min-height: 120px;
    }
    #myFooter {
        text-align: center;
    }
};
/* */

/* Ajustes para large-devices */
@media screen and (min-width: 1440px) {
}

/* */